@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.Title = "Bri's Assignment 2 Calculate Grade";
}
@model CalculateGradeModel

<body>
    <!--form to calculate the grade-->
    <form class="calculator" method="post">
        <h2> Grade Calculator</h2>
        <label>Assignments: </label>
        <input id="assignment" asp-for="assignment"/>
        <br />
        <br />
        <label>Group Projects:</label>
        <input id="groupProjects" asp-for="groupProjects" />
        <br />
        <br />
        <label>Quizzes:</label>
        <input id="quizzes" asp-for="quizzes" />
        <br />
        <br />
        <label>Exams:</label>
        <input id="exams" asp-for="exams"/>
        <br />
        <br />
        <label>Intex:</label>
        <input id="intex" asp-for="intex"/>
        <br />
        <br />
        <input type="submit" name="submitButton" value="Calculate Grade" id="submitButton" />
    </form>

</body>
