@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    this is using razor code and @ to call it in the html portion
   
*@
@{
    ViewBag.Title = "Bri's Assignment 2 Website";
}

<body>
    <br />
    <br />
    <!--picture of me doing something I love-->
    <img class="pic" src="img/hiking.jpg" />
    <br />
    <br />
    <h2 class="top"> What I hope to Learn</h2>
    <p class="top">
        I hope to learn how to navigate ASP.Net proficiently, more importantly with confidence. I would love to not be intimidated by all its functions and capacity.
    </p>
    <h2 class="top">Top 3 Jobs</h2>
    <ul class="top quiz-props">
        <li>Product Management</li>
        <li>Software Development</li>
        <li>Motherhood</li>
    </ul>


</body>
